.seccion_services_home{
  position: relative;
  top: 0;
  z-index: 100;

  width: 100%;
  max-width: 100vw;

  padding:  3rem 0;
  margin: auto;

  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 

  display: flex;
}
.seccion_services_home h1{
  text-align: center;
  margin: 4rem 1rem;
}
.container-colum {
  position: relative;
  width: 90%;
  min-width: 300px;
  padding: .1rem 0rem;
  gap: 30px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.seccion_services_home .title span{
  color: rgb(70, 130, 180);
  margin-bottom: 5px;
}
.description{
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
  text-align: justify;
  margin: 10px;
  transition: color 0.3s;
}
 .service-colum{
  position: relative;
  width: 30%;
  min-width: 300px;
  height: 400px;
}
.single-service{
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  overflow: hidden;
  text-align: center;
  padding: 1rem 2rem;


  box-shadow: 0 0 50px black;
  background-color: rgba(255, 255, 240, 0.2);
  backdrop-filter: blur(50px); /* ✨ El truco de vidrio */
  -webkit-backdrop-filter: blur(50px); /* Para Safari */
}
 .content{
  position: relative;
  z-index: 20;
}
 .icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 0 2rem 0;
}
.single-service:hover .icon{
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.5s;

}
.icon img{
  position: relative;
  top: 5px;
  max-width: 75%;
  max-height: 75%;
}

.main-title{
  position: relative;
  font-weight: 700;
  width: 100%;
  padding: .1rem;
  text-transform: capitalize;/* poner en mayuscula */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.learn-more {
  position: relative;
  display: inline-block; /* necesario para ::after */
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.learn-more::after {
  position: absolute;
  content: '';
  bottom: -4px; /* o 0 si lo quieres pegado */
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}
.learn-more:hover::after {
  background-color: red;
}
.circle-before{
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: rgba(150, 26, 20, .5);
  border-radius: 50%;
  transition: all 0.6;

}
.single-service:hover .circle-before{
  width: 100%;
  height: 100%;
  transform: none;
  border:0px;
  border-radius: 0px;
  opacity: 0.8;
  transition-duration: 2s;
}
