.slideHome{
  position: relative;
  top: 0;
  z-index: 100;

  max-width: 100vw;
  height: 50vh;

  padding:  0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
.container_img{
  position: relative;
  height: 100%;
  width: 500vw;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: 1s;
}
/*****************Datos y logo*********/
.logo_menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo_menu img {
  position: relative;
  height: clamp(100px, 2vw, 200px);
  width: auto;
}
.logo_menu h2, h3{
  position: relative;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}
/*************Imagenes de fondo**********/
.img_slider{
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-repeat: repeat;
  background-size: cover;
  background-position:top;
  z-index: 2;
}
.img_slider:nth-child(1){
 background-image: url("../../../view/home/slider/img/fondo1.png ");
}
.img_slider:nth-child(2){
  background-image: url("../../../view/home/slider/img/fondo2.png ");
}
.img_slider:nth-child(3){
  background-image: url("../../../view/home/slider/img/fondo3.png ");
  background-position:right;
}
.img_slider:nth-child(4){
  background-image: url("../../../view/home/slider/img/fondo4.png ");
  background-position: top;
}
.img_slider:nth-child(5){
  background-image: url("../../../view/home/slider/img/fondo5.png ");
  background-position: bottom;
}
/*************Flechas left*************/
.slider_arrow{
  position: absolute;
  width: 25px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.slider_arrow:nth-child(2){
  left: 10px;
}
.slider_arrow:nth-child(3){
  right: 10px;
}
.slider_arrow img{
  position: relative;
  width: 25px;
  height: 100%;
  cursor: pointer;
}
/*******Data slider****/
.data_slider {
  position:relative;
  height: 50%;
  width: 50%;
  margin: 0 10%;
  min-width: 250px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data_slider h1{
  position: relative;
  font-weight: 400;

  color: rgba(0, 85, 72, 1);
  text-shadow: 3px 7px 4px rgba(0, 0, 0, .5);
  margin: 0 0 20px 0;

  padding: 20px 0;
  -webkit-background-clip: text;
}
.data_slider p{
  position: relative;
  text-align: left;
  font-weight: 400;
  word-spacing: 1px;
  color: white;
}
.line_slider{
  position: relative;
  width: 90%;
  min-width: 250px;
  padding: 2px 0;
  background-color: white;
  z-index: 10;
  border: 1px solid black;
}
.data_slider button{
  position: relative;
  width: 30%;
  min-width: 200px;
  background-color:rgba(0, 85, 72, 1);
  padding: 8px 0px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border: 1px solid #202E52;
  box-shadow: 1px 1px 50px black;

  text-align: center;
  font-weight: 500;
}
.data_slider button:hover{
  background-color: #ffffff;
  color: black;
}

.data_slider:nth-child(1)  h1,
.data_slider:nth-child(1)  h2,
.data_slider:nth-child(1)  h3,
.data_slider:nth-child(1)  p,
.data_slider:nth-child(1) .line_slider,
.data_slider:nth-child(1)  button
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }

}
.data_slider:nth-child(1) h3{
    animation-delay: 1s!important;
}
.data_slider:nth-child(1) h1{
    animation-delay: 1.2s!important;
}
.data_slider:nth-child(1) h2{
    animation-delay: 1.4s!important;
}
.data_slider:nth-child(1) p{
    animation-delay: 1.6s!important;
}
.data_slider:nth-child(1) .line_slider{
    animation-delay: 1.8s!important;
}
.data_slider:nth-child(1) button{
    animation-delay: 2s!important;
}

@media (min-width: 801px) {
  .data_slider {
    display: block; /* Solo visible desde 801px en adelante */
  }
}
