.forWhom{
  container-type:inline-size;
  container-name:forWhom;
  text-wrap:balance;
  padding:  1rem;
}
.forWhom_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  padding: 1rem 0;
  border-radius:  15px;
}
/* ------------CONTAINER IMG */

.forWhom_img_container{
  max-height: 500px;
  max-width: 600px;
  overflow: hidden;
  padding: 3rem 0;
  border-radius: 15px 15px 0 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
.forWhom_img_container img{
  width: 30%;
  height: auto;
  margin:  0 auto;
}
.forWhom_img_container h1{
  color: #fffd;
  font-size: 2rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin: 1rem auto;
}
/* ---------------CONTAINER DATA */

.forWhom_description p{
  font-size: 1rem;
  margin: 10px 0;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.forWhom_data_container{
  background-color: #fffd;
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
  max-width: 600px;
  padding: 2.5rem;
  margin: auto;
}
.forWhom_description h1{
  color: #000;
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  font-family: 'Pacifico', cursive;
}
/* -----------SKILLS */
.forWhom_skills-container h2{
  color: rgb(11, 6, 138);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
.forWhom_skill{
  list-style: none;
  display: flex;
  margin: 10px;
  max-width: 600px;
  margin-left: 0;
  align-items: center;
}
.load_bar{
  border: 2px solid rgb(11, 6, 138);
  border-radius: 8px;
  color: #fffd;
  padding: 2px;
  font-size: 1rem;
  width:80%;
  margin: 4px;
  margin-left: 0;
}
.load_bar_bar{
  background-color: rgb(11, 6, 138);
  border-radius: 6px;
  padding: 4px;
}
.bar_80{
  width: 80%;
}
.bar_60{
  width: 60%;
}
.bar_70{
  width: 70%;
}
.bar_90{
  width: 90%;
}
.forWhom_skill_name{
  color: #000;
}
/* ----------forWhom QUERIES */

@container forWhom (min-width: 690px) {

  .forWhom_wrapper {
    padding: 2rem 0;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(11, 6, 138, 1);
  }
  .forWhom_data{
    max-width: 620px;
  }
  .forWhom_data_container{
    background-color: #fffd;
    display: flex;
    align-items: center;
    border-radius:  0 0 15px 15px;
    margin: auto;
  }
  .forWhom_skill_name{
    color: rgba(11, 6, 138, 1);
  }
  .forWhom_skills-container h2{
    color: #000;
  }
  .forWhom_img{
    height: 100%;
    width: 500px;
    max-width: 700px;
    margin:auto;
  }
  .forWhom_img_container{
    max-height: initial;
    border-radius: 15px 15px 0 0;
    background-color: rgba(11, 6, 138, 1);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    margin: auto;

  }
  .forWhom_description p{
    color: #000;
    font-size: 1rem;
  }
  .forWhom_description h1{
    margin-top: 0;
    font-size: 2.5rem;
    color: #000;
    text-wrap:balance;
  }
}
@container forWhom (min-width: 900px) {
  .forWhom{
    padding:  20px 0 0 0;
  }
  .forWhom_wrapper {
   flex-direction: row;
   padding: 0;
  }

  .forWhom_data_container{
    margin: 0;
    border-radius: 0 15px 15px 0;
  }
  .forWhom_img_container{
    margin: 0;
    border-radius: 15px 0 0 15px;

  }
}
