.seccion_slider_plan{
  position: relative;
  top: 0;
  z-index: 100;

  width: 100vw;
  max-width: 100vw;

  padding:  3rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
.slide_plan-container {
  display: flex;
  width: 600px;
  min-width: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  display: flex;
}

.slide_plan {
  flex: 0 0 100%;
  scroll-snap-align: start;
  min-width: 300px;
  min-height: 600px;
  height: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.slide_plan:nth-child(1) {
  background: rgba(26, 188, 156, .1);  /* #1abc9c */
}
.slide_plan:nth-child(2) {
  background: rgba(52, 152, 219, .1);  /* #3498db */
}
.slide_plan:nth-child(3) {
  background: rgba(155, 89, 182, .1);  /* #9b59b6 */
}
.slide_plan:nth-child(4) {
  background: rgba(231, 76, 60, .1);   /* #e74c3c */
}
.slide_plan:nth-child(5) {
  background: rgba(243, 156, 18, .1);  /* #f39c12 */
}
.slide_plan:nth-child(6) {
  background: rgba(46, 204, 113, .1);  /* #2ecc71 */
}
.slide_plan:nth-child(7) {
  background: rgba(352, 73, 112, .1);    /* #34495e */
}
.butom {
  padding: 8px 16px;
  min-width: 170px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 1rem 0;
}
.butom:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.rojo {
  background-color: #e74c3c;
}
.verde {
  background-color: #27ae60;
}
.azul {
  background-color: #2980b9;
}
.naranja {
  background-color: #e67e22;
}
.negro {
  background-color: #2c3e50;
}
.cafe {
  background-color: brown;
}
.morado {
  background-color: purple;
}

/* Opcional: indicadores */
.indicator {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
  color: white;
}
.slide_plan ul {
   margin: 0 auto;
   color: #cccccc;
   width: 50%;
   margin: 1rem 0;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
}
.slide_plan li {
   margin: 5px;
   color: #cccccc;
   width: 100%;
}
.servicios_badge {
  position: relative;
  padding: .3rem .5rem;
  background: #3498db;
  border-radius: 6px;
  margin: 0 0 2rem 0;
}
