.seccion-diseños{
  position: relative;
  padding: 0px;
  margin: 130px 50px 20px 50px;

  width: 100vw;
  height: 40vh;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.seccion-diseños1{
  position: relative;
  padding: 0px;
  margin: 63px 50px 20px 50px;

  width: 100vw;
  height: 40vh;
  background: linear-gradient(to right, #3f87a6, #ebf8e1);
}
.seccion-diseños2{
  position: relative;
  padding: 0px;
  margin: 63px 50px 20px 50px;

  width: 100vw;
  height: 40vh;
  background: linear-gradient(to right, #00c6ff, #0072ff);
}
.loading-page {
  position: relative;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #191654;
  margin: 20px 0;
}
.loading-page:nth-child(2)
#svg {
  height: 350px;
  width: 350px;
  margin: 0;

}
#svg:hover{
  stroke: #ffff;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;

}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
